@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');


body {
	overflow: hidden;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
}

.App {
	overflow: hidden;
	padding: none;
	margin: none;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
}

.ogBG {
	background-image: url('./assets/sitebg.gif');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	padding: 0;
	margin-left: 0;
	z-index: 1;
}


.reverseBG {
	background-image: url('./assets/editedreversebg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	padding: none;
	margin-left: 100vw;
	margin-top: 18px;
	justify-content: center;
	align-content: center;
	vertical-align: center;
	display: flex;
	z-index: 1;
}


.mike {
	margin-left: 100vw;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
	overflow: hidden;
	margin-left: none;
	align-content: center;
}

.mikeImg {
	position: absolute;
	z-index: 2;
	height: 400px;
	width: 400px;
	margin-top: 150px;
}

.animationog {
	margin-left: -100vw;
	transition: margin-left 3s;
}

.animationreverse {
	margin-left: 0vw;
	transition: margin-left 3s;
}

.dim {
	filter: brightness(50%);
}

.title {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
	overflow: hidden;
	margin-left: none;
}

.arrowSignContainer {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
	padding: none;
	margin-left: none;
	z-index: 1;
}


@media screen and (max-width: 1920px) {
	.titleImg {
		position: absolute;
		height: 175px;
		margin-top: 50px;
	}

	.arrowSign {
		position: fixed;
		height: 13vh;
		width: 10vw;
		margin-left: 88vw;
		z-index: 7;
		margin-top: 68vh;
	}

	.arrowSign:hover {
		cursor: pointer;
	}
}

@media screen and (max-height: 750px) {

	.arrowSign {
		margin-top: 74vh;
		height: 17vh;
	}
}

@media screen and (max-width: 1450px) {
	.arrowSign {
		margin-top: 70vh;
		margin-left: 90vw;
	}
}

@media screen and (max-width: 1200px) {
	
	.titleImg {
		position: absolute;
		height:175px;
		margin-top: 50px;
	}
}

@media screen and (max-width: 900px) {
	.titleImg {
		position: absolute;
		height: 175px;
		margin-top: 50px;
	}
}

@media screen and (max-width: 490px) {
	.titleImg {
		position: absolute;
		width: 350px;
		height: 130px;
		margin-top: 40px;
	}
}

@media screen and (max-width: 390px) {
	.titleImg {
		position: absolute;
		width: 300px;
		height: 110px;
		margin-top: 50px;
	}
}

.cloud {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	z-index: 1;
  }

  .freeze {
	  animation: none;
  }
  
  @keyframes move1 {
	  95% {
		transform: translateX(95vw) translateY(-50%);
	  }
	  95.001% {
		transform: translateX(-25vw) translateY(-50%);
	  }
	}
  
  @keyframes move2 {
	  75% {
		  transform: translateX(75vw) translateY(-50%);
	  }
	  75.001% {
		  transform: translateX(-45vw) translateY(-50%);
	  }
  }
  
  @keyframes move3 {
	  45% {
		  transform: translateX(45vw) translateY(-50%);
	  }
	  45.001% {
		  transform: translateX(-75vw) translateY(-50%);
	  }
  }
  
  @keyframes move4 {
	  25% {
		transform: translateX(25vw) translateY(-50%);
		overflow: hidden;
	  }
	  25.001% {
		transform: translateX(-95vw) translateY(-50%);
		overflow: hidden;
	  }
  }
  
  @keyframes move5 {
	  5% {
		transform: translateX(5vw) translateY(-50%);
	  }
	  5.001% {
		transform: translateX(-115vw) translateY(-50%);
	  }
  }

  /*

  @keyframes movePlane {
	95% {
		transform: translateX(-120vw) translateY(-50%);
		overflow: hidden;
	  }
	  95.001% {
		transform: translateX(5vw) translateY(-50%);
		overflow: hidden;
	  }
  }
  */
  
  .cloudimg1 {
		position: absolute;
		animation: move1 150s linear infinite;
		margin-left: 10vw;
		margin-top: 25vh;
		transform: translateX(-50%) translateY(-50%);
		height: 70px;
		opacity: .7;
		overflow: hidden;
  }
  
  .cloudimg2 {
		position: absolute;
		animation: move2 150s linear infinite;
		margin-left: 30vw;
		margin-top: 15vh;
		transform: translateX(-50%) translateY(-50%);
		height: 70px;
		opacity: .7;
		overflow: hidden;
  }
  
  .cloudimg3 {
		position: absolute;
		animation: move3 150s linear infinite;
		margin-left: 60vw;
		margin-top: 25vh;
		transform: translateX(-50%) translateY(-50%);
		height: 70px;
		opacity: .7;
		overflow: hidden;
  }
  
  .cloudimg4 {
		position: absolute;
		animation: move4 150s linear infinite;
		margin-left: 80vw;
		margin-top: 10vh;
		transform: translateX(-50%) translateY(-50%);
		height: 70px;
		opacity: .7;
		overflow: hidden;
  }
  
  .cloudimg5 {
		position: absolute;
		animation: move5 150s linear infinite;
		margin-left: 100vw;
		margin-top: 20vh;
		transform: translateX(-50%) translateY(-50%);
		height: 70px;
		opacity: .7;
		overflow: hidden;
  }

 /*.plane:hover {
	  cursor: pointer;
	  filter: brightness(0.9);
  }*/
  

  #musicWindow {
		display: flex;
		flex-direction: column;
		margin-top: 0px;
		justify-content: flex-start;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		font-family: 'Pixelify Sans';
	}

	#showsWindow {
		justify-content: center;
		position: absolute;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		font-family: 'Pixelify Sans';
		color: white;
	}

	#aboutWindow {
		justify-content: center;
		justify-content: flex-start;
		flex-direction: column;
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		font-family: 'Pixelify Sans';
		color: white;
	}

	#contactWindow {
		justify-content: center;
		position: absolute;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		font-family: 'Pixelify Sans';
		color: white;
	}

  .blueBG {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: rgb(57, 183, 225);
	height: 100%;
	width: 100%;
	padding: none;
	position: absolute;
	margin-left: none;
	z-index: -1;
}

@media screen and (max-width: 1920px),
	screen and (max-height: 900px) {
/*
	.plane {
		position: absolute;
		animation: movePlane 100s linear infinite;
		margin-left: 100vw;
		margin-top: 150px;
		transform: translateX(-50%) translateY(-50%);
		height: 80px;
		overflow: hidden;
		z-index: 3;
  }
*/
 	
	.frameContainer {
		position: relative;
		height: 820px;
		width: 900px;
		margin: auto;
	}

	.inventory {
		font-size: 30px;
		text-align: center;
	}

	.exit {
		position: absolute;
		z-index: 5;
		height: 25px;
		width: 25px;
		margin-left: 850px;
		margin-top: 60px;
	}

	.frame {
		margin-top: 35px;
		width: 900px;
		height: 750px;
		position: absolute;
	}
	
	.exit:hover {
		cursor: pointer;
	}
  
	#rectangle {	
		align-content: center;	
		position: absolute;
		margin-top: 5px;
		left: 50%;
		transform: translateX(-50%);
		width:350px;
		height:70px;
		background:#735b3c;
		z-index: 4;
		border: 3px solid black;
		border-radius: 10px;
		text-shadow: -1px 1px 0 #292929,
		3px 3px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
		color: white;
	}
	
	.songs {
		display: inline-flex;
		flex-wrap: wrap;
		z-index: 4;
		position: absolute;
		width: 800px;
		height: 510px;
		justify-content: center;
		margin-top: 150px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.biggerWrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.showsFrame {
		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top: 50%;
		width: 900px;
		height: 760px;
		padding: none;
	}

	.showsWrapper {
		--listheight: 760px;
		max-width: 900px;
		max-height: 760px;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		top: 50%;
		overflow-y: scroll; 
		padding: none;
		position: relative; 
		text-overflow: "";
		z-index: 3;
		overflow-x: hidden;
	}

	.showsList {
		max-height: calc(var(--listheight) - 100px);
		width: 90%;
		top: 0;
		margin: auto;
		display: flex;
		flex-direction: column;
		text-shadow: -1px 1px 0 #292929,
					2px 2px 0 #292929,
					1px -1px 0 #292929,
					-1px -1px 0 #292929;
	}
	
	.exitShow {
		position: absolute;
		z-index: 5;
		height: 25px;
		width: 25px;
		margin-left: 850px;
		margin-top: 55px;
	}
	
	.exitShow:hover {
		cursor: pointer;
	}

	.music {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		z-index: 1;
		overflow: hidden;
		margin-left: none;
	}

	.aboutFrameContainer {
		width: 900px;
		height: 800px;
		margin: auto;
		position: relative;
	}
	
	.aboutFrame {
		width: 900px;
		height: 780px;
		margin-top: 20px;
		position: absolute;
	}
	
	.bio {
		position: absolute;
		width: 800px;
		height: 800px;
		display: flex;
		justify-content: center;
		align-content: center;
		line-height: 45px;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
		margin-top: 0px;
	}
	
	.bio h1 {
		font-size: 22px;
		word-spacing: 3px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
		margin-top: 400px;
	}
	
	.pictureFrame {
		height: 380px;
		position: absolute;
		z-index: 4;
		margin-top: 0px;
	}
	
	.exitAbout {
		position: absolute;
		z-index: 3;
		height: 25px;
		width: 25px;
		margin-left: 850px;
		margin-top: 50px;
	}
	
	.exitAbout:hover {
		cursor: pointer;
	}

	.contactFrameContainer {
		width: 750px;
		height: 400px;
		margin: auto;
		position: relative;
	}

	.contactFrame {
		width: 750px;
		height: 400px;
		position: absolute;
	}

	.contactInfo {
		position: absolute;
		width: 750px;
		height: 400px;
		display: block;
		justify-content: center;
		align-content: center;
		line-height: 33px;
		text-align: center;
		margin-top: 0px;
	}
	
	.contactInfo h1 {
		font-size: 30px;
		word-spacing: 3px;
		text-shadow: -1px 1px 0 #292929,
		3px 3px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.contactInfo h2 {
		font-size: 20px;
		word-spacing: 3px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.exitContact {
		position: absolute;
		z-index: 3;
		height: 20px;
		width: 20px;
		margin-left: 710px;
		margin-top: 20px;
	}
	
	.exitContact:hover {
		cursor: pointer;
	}
	
	.musicimg {
		height: 3vh;
		margin-top: 260px;
		filter: saturate(100%);
		filter: brightness(95%);
	}
	
	.musicimg:hover {
		filter: contrast(85%);
		filter: brightness(130%);
		height: 3.5vh;
		margin-top: 255.5px;
		cursor: pointer;
	}
	
	.contact {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		z-index: 1;
		overflow: hidden;
		margin-left: none;
	}
	
	.contactimg {
		height: 3.5vh;
		margin-top: 3.5vh;
		filter: saturate(100%);
		filter: brightness(95%);
	}
	
	.contactimg:hover {
		filter: contrast(85%);
		filter: brightness(130%);
		height: 4vh;
		margin-top: 3vh;
		cursor: pointer;
	}
	
	.shows {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		z-index: 1;
		overflow: hidden;
		margin-left: none;
	}
	
	.showsimg {
		height: 3vh;
		margin-top: 3.5vh;
		filter: saturate(100%);
		filter: brightness(95%);
	}
	
	.showsimg:hover {
		filter: contrast(85%);
		filter: brightness(130%);
		height: 3.5vh;
		margin-top: 3vh;
		cursor: pointer;
	}
	
	.about {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		z-index: 1;
		overflow: hidden;
		margin-left: none;
	}
	
	.aboutimg {
		height: 3vh;
		margin-top: 3.5vh;
		filter: saturate(100%);
		filter: brightness(95%);
		cursor: pointer;
	}
	
	.aboutimg:hover {
		filter: contrast(85%);
		filter: brightness(130%);
		height: 3.5vh;
		margin-top: 3vh;
	}

	.subscribe {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
		z-index: 1;
		overflow: hidden;
		margin-left: none;
	}
	
	.subscribeimg {
		height: 3.1vh;
		margin-top: 3.15vh;
		filter: saturate(95%);
		filter: brightness(95%);
		cursor: pointer;
	}
	
	.subscribeimg:hover {
		filter: contrast(85%);
		filter: brightness(130%);
		height: 3.6vh;
		margin-top: 2.65vh;
	}
	
	.socials {
		opacity: .9;
		width: 100vw;
		height: 8vh;
		justify-content: center;
		position: absolute;
		display: flex;
		z-index: 1;
		bottom: 0;
	}
	
	.icons {
		display: flex;
		justify-content: center;
		align-content: center;
		height: 70px;
		width: 320px;
		position: absolute;
		z-index: 3;
	}
	
	.icons img {
		height: 40px;
		margin-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
		transition: all .1s ease-in-out; 
		border-radius: 10px;
	}
	
	.icons img:hover {
		cursor: pointer;
		transform: scale(1.2);
	}
}

@media screen and (max-width: 1200px),
	screen and (max-height: 800px) {
	/*
	.plane {
		position: absolute;
		animation: movePlane 100s linear infinite;
		margin-left: 95vw;
		margin-top: 300px;
		transform: translateX(-50%) translateY(-50%);
		height: 80px;
		overflow: hidden;
		z-index: 3;
  	}
	  */

	.frameContainer {
		width: 750px;
		height: 705px;
	}

	.frame {
		width: 750px;
		height: 650px;
		margin-top: 27.5px;
	}
	
	.exit {
		height: 25px;
		width: 25px;
		margin-left: 700px;
		margin-top: 50px;
	}
   
	#rectangle {
		margin-top: 10px;
		width: 300px;
		height: 55px;
		border: 3px solid black;
		border-radius: 10px;
	}
	
	.inventory{
		font-size: 25px;
	}

	.songs {
		width: 600px;
		height: 540px;
		margin-top: 120px;
		padding-left: 75px;
		padding-right: 75px;
	}

	.showsFrame {
		width: 750px;
		height: 650px;
	}

	.showsList {
		max-height: calc(var(--listheight) - 100px);
	}

	.showsWrapper {
		--listheight: 650px;
		max-width: 750px;
		max-height: 650px;
	}

	.exitShow {
		height: 25px;
		width: 25px;
		margin-left: 700px;
		margin-top: 50px;
	}

	.aboutFrameContainer {
		width: 800px;
		height: 710px;
	}
	
	.aboutFrame {
		width: 800px;
		height: 700px;
		margin-top: 10px;
	}

	
	.bio {
		width: 750px;
		height: 800px;
		line-height: 40px;
		padding-left: 25px;
		padding-right: 25px;
		margin-top: -10px;
	}
	
	.bio h1 {
		margin-top: 380px;
		font-size: 20px;
		word-spacing: 2px;
		text-shadow: -1px 1px 0 #292929,
		3px 3px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}
	
	.pictureFrame {
		height: 350px;
		margin-top: 0px;
	}
	
	.exitAbout {
		height: 25px;
		width: 25px;
		margin-top: 35px;
		margin-left: 750px;
	}
	
	.icons {
		height: 80px;
		width: 500px;
	}
	
	.icons img {
		height: 35px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media screen and (max-width: 900px),
	screen and (max-height: 700px) {
	/*
	.plane {
		position: absolute;
		animation: movePlane 100s linear infinite;
		margin-left: 95vw;
		margin-top: 27vh;
		transform: translateX(-50%) translateY(-50%);
		height: 60px;
		overflow: hidden;
		z-index: 3;
  	}
	  */

	.frameContainer {
		width: 650px;
		height: 605px;
	}


	.frame {
		width: 650px;
		height: 550px;
		margin-top: 27.5px;
	}
	
	.exit {
		height: 20px;
		width: 20px;
		margin-left: 610px;
		margin-top: 45px;
	}
   
	#rectangle {
		margin-top: 10px;
		width:300px;
		height:55px;
		border-radius: 10px;
	}
	
	.songs {
		width: 550px;
		height: 430px;
		margin-top: 110px;
		padding-left: 50px;
		padding-right: 50px;
	}

	#showsWindow {
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.showsFrame {
		width: 650px;
		height: 550px;
	}

	.showsWrapper {
		--listheight: 550px;
		max-width: 700px;
		max-height: 550px;
	}

	.exitShow {
		height: 20px;
		width: 20px;
		margin-left: 610px;
		margin-top: 45px;
	}

	.aboutFrameContainer {
		width: 600px;
		height: 610px;
	}

	.aboutFrame {
		width: 600px;
		height: 600px;
	}
	
	.bio {
		width: 500px;
		height: 600px;
		line-height: 30px;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.bio h1 {
		margin-top: 280px;
		font-size: 17px;
		word-spacing: 2px;
	}
	
	.pictureFrame {
		height: 250px;
		margin-top: 5px;
	}
	
	.exitAbout {
		height: 17px;
		width: 17px;
		margin-left: 560px;
		margin-top: 35px;
	}

	.contactFrameContainer {
		width: 650px;
		height: 400px;
	}

	.contactFrame {
		width: 650px;
		height: 400px;
	}

	.contactInfo {
		width: 650px;
		height: 400px;
		line-height: 33px;
	}
	
	.contactInfo h1 {
		font-size: 30px;
	}

	.contactInfo h2 {
		font-size: 20px;
	}

	.exitContact {
		height: 20px;
		width: 20px;
		margin-left: 610px;
		margin-top: 20px;
	}
	
	.musicimg {
		height: 3.5vh;
	}
	
	.musicimg:hover {
		height: 4vh;
	}
	
	.contactimg {
		height: 4vh;
		margin-top: 3vh;
	}
	
	.contactimg:hover {
		height: 4.5vh;
		margin-top: 2.5vh;
	}
	
	.showsimg {
		height: 3.5vh;
		margin-top: 3.5vh;
	}
	
	.showsimg:hover {
		height: 4vh;
		margin-top: 3vh;
	}
	
	.aboutimg {
		height: 3.5vh;
		margin-top: 3.5vh;
	}
	
	.aboutimg:hover {
		height: 4vh;
		margin-top: 3vh;
	}
	
	.subscribeimg {
		height: 3.6vh;
		margin-top: 2.9vh;
	}
	
	.subscribeimg:hover {
		height: 4vh;
		margin-top: 2.5vh;
	}
	
	.icons {
		height: 100px;
		width: 500px;
	}

	.icons img {
		height: 35px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

@media screen and (max-width: 768px),
	screen and (max-height: 600px) {
	/*
	.plane {
		position: absolute;
		animation: movePlane 100s linear infinite;
		margin-left: 95vw;
		margin-top: 28vh;
		transform: translateX(-50%) translateY(-50%);
		height: 60px;
		overflow: hidden;
		z-index: 3;
  	}
	  */

	.frameContainer {
		width: 525px;
		height: 550px;
	}

	.frame {
		width: 525px;
		height: 500px;
		margin-top: 25px;
	}
	
	.exit {
		height: 20px;
		width: 20px;
		margin-left: 487px;
		margin-top: 40px;
	}
  
	#rectangle {
		margin-top: 10px;
		width:280px;
		height:50px;
		border: 3px solid black;
		border-radius: 10px;
	}

	.inventory {
		font-size: 20px;
	}
	
	.songs {
		width: 475px;
		height: 400px;
		margin-top: 100px;
		padding-left: 25px;
		padding-right: 25px;
	}


	#showsWindow {
		text-shadow: -1px 1px 0 #292929,
		1px 1px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.showsFrame {
		width: 525px;
		height: 500px;
	}

	.showsWrapper {
		--listheight: 525px;
		max-width: 600px;
		max-height: 525px;
	}

	.exitShow {
		height: 17px;
		width: 17px;
		margin-left: 490px;
		margin-top: 45px;
	}

	
	.bio {
		width: 500px;
		height: 800px;
		line-height: 30px;
	}
	
	.bio h1 {
		font-size: 17px;
		word-spacing: 2px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}
	
	.pictureFrame {
		height: 250px;
	}
	
	.exitAbout {
		height: 20px;
		width: 20px;
		margin-left: 555px;
	}

	.contactFrameContainer {
		width: 450px;
		height: 300px
	}
	
	.contactFrame {
		width: 450px;
		height: 300px;
	}

	.contactInfo {
		width: 450px;
		height: 300px;
		line-height: 30px;
	}
	
	.contactInfo h1 {
		font-size: 20px;
	}

	.contactInfo h2 {
		font-size: 12px;
	}

	.exitContact {
		height: 20px;
		width: 20px;
		margin-left: 415px;
		margin-top: 20px;
	}
	
	.icons {
		height: 50px;
		width: 400px;
		z-index: 3;
	}

	.icons img {
		height: 40px;
		margin-top: 0px;
		padding-left: 7px;
		padding-right: 7px;
	}
  }

@media screen and (max-width: 490px),
	screen and (max-height: 500px){

	.cloudimg1 {
		display:none;
	}

	.cloudimg3 {
		display:none;
	}

	.ogBG {
		margin-top: 30px;
	}

	.frameContainer {
		position: relative;
		height: 640px;
		width: 380px;
		margin: auto;
		padding: none;
	}
	
	.frame {
		margin-top: 25px;
		position: absolute;
		width: 380px;
		height: 590px;
	}

	#rectangle {
		position: absolute;
		margin-top: 5px;
		left: 50%;
		transform: translateX(-50%);
		width: 200px;
		height: 50px;
		border: 3px solid black;
		border-radius: 10px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.inventory {
		font-size: 20px;
	}

	.exit {
		position: absolute;
		height: 20px;
		width: 20px;
		padding-left: 0px;
		margin-left: 347px;
		margin-top: 40px;
		padding-top: 0px;
	}
	
	.songs {
		position: absolute;
		z-index: 4;
		width: 380px;
		height: 540px;
		margin-top: 65px;
		padding: 0;
	}

	#showsWindow {
		text-shadow: -1px 1px 0 #292929,
		1px 1px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.showsFrame {
		width: 380px;
		height: 590px;
		overflow: hidden;
		padding: none;
		margin: auto;
	}

	.showsWrapper {
		--listheight: 590px;
		max-width: 380px;
		max-height: 590px;
	}

	.exitShow {
		height: 18px;
		width: 18px;
		margin-left: 350px;
		margin-top: 40px;
	}

	.aboutFrameContainer {
		width: 380px;
		height: 560px;
	}

	.aboutFrame {
		width: 380px;
		height: 550px;
		margin-top: 10px;
	}
	
	.bio {
		width: 330px;
		height: 600px;
		line-height: 25px;
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.bio h1 {
		margin-top: 265px;
		font-size: 13.5px;
		word-spacing: 2px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}
	
	.pictureFrame {
		height: 250px;
	}
	
	.exitAbout {
		height: 20px;
		width: 20px;
		margin-left: 345px;
		margin-top: 25px;
	}

	.contactFrameContainer {
		width: 360px;
		height: 200px;
	}

	.contactFrame {
		width: 360px;
		height: 200px;
	}

	.contactInfo {
		width: 360px;
		height: 200px;
		line-height: 28px;
	}
	
	.contactInfo h1 {
		font-size: 17px;
		word-spacing: 3px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.contactInfo h2 {
		font-size: 10px;
		word-spacing: 3px;
		text-shadow: -1px 1px 0 #292929,
		1px 1px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.exitContact {
		height: 17px;
		width: 17px;
		margin-left: 330px;
		margin-top: 15px;
	}
	
	.musicimg {
		height: 3vh;
		margin-top: 27vh;
	}

	.musicimg:hover {
		height:3vh;
		margin-top: 27vh;
	}
	
	.contactimg {
		height: 3.5vh;
		margin-top: 4vh;
	}
	
	.contactimg:hover {
		height: 3.5vh;
		margin-top: 4vh;
	}
	
	.showsimg {
		height: 3vh;
		margin-top: 4vh;
	}

	.showsimg:hover {
		height: 3vh;
		margin-top: 4vh;
	}
	
	.aboutimg {
		height: 3vh;
		margin-top: 4vh;
	}

	.aboutimg:hover {
		height: 3vh;
		margin-top: 4vh;
	}

	.subscribeimg {
		height: 3.1vh;
		margin-top: 4vh;
	}

	.subscribeimg:hover {
		height: 3.1vh;
		margin-top: 4vh;
	}

	.socials {
		height: 10vh;
		bottom: -10px;
	}
	
	.icons {
		height: 100px;
		margin-top: 10px;
	}

	.icons img {
		height: 40px;
		margin-bottom: 0px;
		padding-left: 4px;
		padding-right: 4px;
		padding-bottom:0px;
		padding-top: 0px;
		border-radius: 10px;
	}

	.icons img:hover {
		transform: scale(1.0);
	}

}

@media screen and (max-width: 390px),
	screen and (max-height: 00px) {
	/*
	.plane {
		position: absolute;
		animation: movePlane 100s linear infinite;
		margin-left: 95vw;
		margin-top: 28vh;
		transform: translateX(-50%) translateY(-50%);
		height: 35px;
		overflow: hidden;
		z-index: 3;
  	}
	  */

	.frameContainer {
		width: 350px;
		height: 600px;
	}

	.frame {
		width: 350px;
		height: 550px;
		margin-top: 25px;
	}

	#rectangle {
		margin-top: 10px;
		width: 200px;
		height: 50px;
		border: 3px solid black;
		border-radius: 10px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.inventory {
		font-size: 20px;
	}

	.exit {
		height: 15px;
		width: 15px;
		margin-left: 320px;
		margin-top: 37px;
	}
  
	.songs {
		width: 350px;
		height: 500px;
		margin-top: 70px;
	}

	#showsWindow {
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}

	.showsFrame {
		width: 350px;
		height: 550px;
	}

	.showsWrapper {
		--listheight: 550px;
		max-width: 350px;
		max-height: 550px;
	}

	.exitShow {
		height: 15px;
		width: 15px;
		margin-left: 322px;
		margin-top: 40px;
	}
	
	.aboutFrameContainer {
		width: 350px;
		height: 560px;
	}

	.aboutFrame {
		width: 350px;
		height: 550px;
	}
	
	.bio {
		width: 300px;
		height: 600px;
		line-height: 23px;
	}
	
	.bio h1 {
		margin-top: 255px;
		font-size: 13px;
		word-spacing: 2px;
		text-shadow: -1px 1px 0 #292929,
		2px 2px 0 #292929,
		1px -1px 0 #292929,
		-1px -1px 0 #292929;
	}
	
	.pictureFrame {
		height: 225px;
	}
	
	.exitAbout {
		height: 15px;
		width: 15px;
		margin-left: 320px;
	}

	.contactFrameContainer {
		width: 340px;
		height: 200px;
	}

	.contactFrame {
		width: 340px;
		height: 200px;
	}

	.contactInfo {
		width: 340px;
		height: 200px;
		line-height: 28px;
	}
	
	.contactInfo h1 {
		font-size: 15px;
	}

	.contactInfo h2 {
		font-size: 9px;
	}

	.exitContact {
		height: 15px;
		width: 15px;
		margin-left: 312px;
		margin-top: 15px;
	}
	
	.musicimg {
		height:3vh;
		margin-top: 30vh;
	}

	.musicimg:hover {
		height:3vh;
		margin-top: 30vh;
	}
	
	.contactimg {
		height: 3.5vh;
		margin-top: 3.8vh;
	}

	.contactimg:hover {
		height: 3.5vh;
		margin-top: 3.8vh;
	}
	
	.showsimg {
		height: 3vh;
		margin-top: 4vh;
	}

	.showsimg:hover {
		height: 3vh;
		margin-top: 4vh;
	}

	.aboutimg {
		height: 3vh;
		margin-top: 4vh;
	}

	.aboutimg:hover {
		height: 3vh;
		margin-top: 4vh;
	}

	.icons {
		margin-top: 10px;
	}

	.icons img {
		height: 35px;
		margin-bottom: 0px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom:0px;
		padding-top: 0px;
		border-radius: 10px;
	}

}
