@media (max-width: 1920px) {
    .show {    
        z-index: 3;
        display: grid;
        justify-content: center;
        grid-template-columns: 225px 200px 275px 150px;
        text-align: center;
        width: 850px;
        font-size: 10px;
        border-bottom: 1px solid black;
        color: white;
    }
    
    a {
        text-decoration: underline;
        color: white;
        text-decoration-thickness: 2px;
        text-decoration-color: white;
    }

    a:hover {
        filter: brightness(0.9);
    }

    .comingsoon {
        z-index: 3;
        font-size: 15px;
        text-align: center;
        line-height: 50px;
    }

    .extra {
        z-index: 3;
        font-size: 20px;
        margin: auto;
        margin-top: 25px;
    }
}


@media screen and (max-width: 1200px) {
    .show {    
        z-index: 3;
        display: grid;
        justify-content: center;
        grid-template-columns: 193.75px 168.75px 243.75px 118.75px;
        text-align: center;
        width: 725px;
        font-size: 8px;
        border-bottom: 1px solid black;
        color: white;
    }
    
    a {
        text-decoration: underline;
        color: white;
        text-decoration-thickness: 2px;
        text-decoration-color: white;
    }

    .comingsoon {
        z-index: 3;
        font-size: 13px;
        text-align: center;
        line-height: 40px;
    }

    .extra {
        z-index: 3;
        font-size: 17px;
        margin: auto;
        margin-top: 25px;
    }
}

@media  (max-width: 900px) {
    .show {    
        z-index: 3;
        display: grid;
        justify-content: center;
        grid-template-columns: 181.25px 156.25px 231.25px 106.25px;
        text-align: center;
        width: 675px;
        font-size: 7px;
        border-bottom: 1px solid black;
        color: white;
    }
    
    a {
        text-decoration: underline;
        color: white;
        text-decoration-thickness: 2px;
        text-decoration-color: white;
    }

    .comingsoon {
        z-index: 3;
        font-size: 10px;
        text-align: center;
        line-height: 40px;
    }

    .extra {
        z-index: 3;
        font-size: 15px;
        margin: auto;
        margin-top: 25px;
    }
}

@media  (max-width: 768px) {
    .show {    
        z-index: 3;
        display: grid;
        justify-content: center;
        grid-template-columns: 156.25px 131.25px 206.25px 81.25px;
        text-align: center;
        width: 575px;
        font-size: 5.5px;
        border-bottom: 1px solid black;
        color: white;
    }
    
    a {
        text-decoration: underline;
        color: white;
        text-decoration-thickness: 1px;
        text-decoration-color: white;
    }

    .comingsoon {
        z-index: 3;
        font-size: 10px;
    }

    .extra {
        z-index: 3;
        font-size: 12px;
        margin: auto;
        margin-top: 25px;
    }
}

@media screen and (max-width: 490px) {
    .show {    
        z-index: 3;
        display: grid;
        justify-content: center;
        grid-template-columns: 70px 90px 150px 70px;
        text-align: center;
        width: 380px;
        font-size: 5px;
        border-bottom: 1px solid black;
        color: white;
    }
    
    a {
        text-decoration: underline;
        color: white;
        text-decoration-thickness: 1px;
        text-decoration-color: white;
    }

    .comingsoon {
        z-index: 3;
        font-size: 7px;
        text-align: center;
        line-height: 40px;
    }

    .extra {
        z-index: 3;
        font-size: 12px;
        margin: auto;
        margin-top: 25px;
    }
}

@media screen and (max-width: 390px) {
    .show {    
        z-index: 3;
        display: grid;
        justify-content: center;
        grid-template-columns: 55px 75px 135px 55px;
        text-align: center;
        width: 320px;
        font-size: 5px;
        border-bottom: 1px solid black;
        color: white;
    }
    
    a {
        text-decoration: underline;
        color: white;
        text-decoration-thickness: 1px;
        text-decoration-color: white;
    }

    .comingsoon {
        z-index: 3;
        font-size: 6px;
        text-align: center;
        line-height: 25px;
    }

    .extra {
        z-index: 3;
        font-size: 12px;
        margin: auto;
        margin-top: 25px;
    }
}