@media screen and (max-width: 1920px),
    screen and (max-height: 900px) {
    .card {
        background:#e3b476;
        border: 2px solid black;
        border-radius: 5px;
        margin: 20px;
        padding: 10px;
        display: block;
        height: 200px;
        width: 154px;
        box-shadow: 3px 1px 1px black;
    }
    
    .card:hover {
        cursor: pointer;
        filter: brightness(0.95);
    }
    
    .songcover {
        border: 2px solid black;
        height: 150px;
        width: 150px;
    }
    
    .songtitle {
        margin-top: 0;
        text-align: center;
        height: 50px;
        width: 154px;
        font-size: 22px;
        position: absolute;
    }
}


@media screen and (max-width: 1200px),
	screen and (max-height: 800px) {
    .card {
        background:#e3b476;
        border: 2px solid black;
        border-radius: 5px;
        margin: 15px;
        padding: 7.5px;
        display: block;
        height: 180px;
        width: 138.6px;
        box-shadow: 3px 1px 1px black;
    }
    
    .card:hover {
        cursor: pointer;   
        filter: brightness(0.95);
    }
    
    .songcover {
        border: 2px solid black;
        height: 135px;
        width: 135px;
    }
    
    .songtitle {
        margin-top: 0;
        text-align: center;
        height: 45px;
        width: 138.6px;
        position: absolute;
        font-size: 20px;
        line-height: 20px;
    }
}

@media screen and (max-width: 900px),
	screen and (max-height: 700px) {
    .card {
        background:#e3b476;
        border: 2px solid black;
        border-radius: 5px;
        margin: 15px;
        padding: 7.5px;
        display: block;
        height: 150px;
        width: 115.5px;
        box-shadow: 3px 1px 1px black;
    }
    
    .card:hover {
        cursor: pointer;
        filter: brightness(0.95);
    }
    
    .songcover {
        border: 2px solid black;
        height: 112.5px;
        width: 112.5px;
    }
    
    .songtitle {
        line-height: 17px;
        margin-top: 0;
        text-align: center;
        height: 37.5px;
        width: 115.5px;
        position: absolute;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px),
    screen and (max-height: 600px){
    .card {
        background:#e3b476;
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 7.5px;
        display: block;
        height: 140px;
        width: 107.9px;
        box-shadow: 3px 1px 1px black;
        margin-top: 10px;
    }
    
    .card:hover {
        cursor: pointer;
        filter: brightness(0.95);
    }
    
    .songcover {
        border: 2px solid black;
        height: 105px;
        width: 105px;
    }
    
    .songtitle {
        margin-top: 0;
        text-align: center;
        height: 35px;
        width: 107.9px;
        position: absolute;
        font-size: 15px;
    }
}

@media screen and (max-width: 490px),
    screen and (max-height: 500px) {
    .card {
        background:#e3b476;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 7.5px;
        display: block;
        height: 140px;
        width: 107.8px;
        box-shadow: 3px 1px 1px black;
    }
    
    .card:hover {
        cursor: pointer;
        filter: brightness(0.95);
    }
    
    .songcover {
        border: 2px solid black;
        height: 105px;
        width: 105px;
    }
    
    .songtitle {
        margin-top: 0;
        text-align: center;
        height: 35px;
        width: 105px;
        line-height: 15px;
        position: absolute;
        font-size: 15px;

    }
}

@media screen and (max-width: 390px),
    screen and (max-height: 400px) {
    .card {
        background:#e3b476;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 7.5px;
        display: block;
        height: 120px;
        width: 92.4px;
        box-shadow: 3px 1px 1px black;
    }
    
    .card:hover {
        cursor: pointer;
        filter: brightness(0.95);
    }
    
    .songcover {
        border: 2px solid black;
        height: 90px;
        width: 90px;
    }
    
    .songtitle {
        margin-top: 0;
        text-align: center;
        height: 30px;
        width: 90px;
        position: absolute;
        font-size: 12px;
    }
}